/* -----------------------------------------
MEYERWEB RESET
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF MEYERWEB RESET
----------------------------------------*/

:root{
    --Blue: radial-gradient(
        rgb(4, 9, 40),
        rgb(8, 18, 80),
        rgb(8, 18, 80),
    );
    --Red: red;
}

@font-face{
    font-family: Norse-Bold;
    src: url("Norse-Bold.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif
}

body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3.5rem;
    font-family: 'Norse-Bold';
    text-align: center;
    margin: 40px auto 18px auto;
    color: transparent;
    background: url("backgroundImg.jpg") right/cover no-repeat fixed;
    -webkit-background-clip: text;
    background-clip: text;
    user-select: none;
}

h2{
    font-size: 2rem;
    text-shadow: 0 0 1px cyan, 0 0 22px royalblue;
    font-family: 'Norse-Bold';
    text-align: center;
    margin: 0px auto 20px auto;
}

.form-div{
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background: center/235px no-repeat fixed url("odin-lined.png"), right/cover no-repeat fixed url("backgroundImg.jpg");
    border-radius: 8px;
    border: solid 2px rgba(0, 255, 255, 0.65);
    box-shadow: 0 0 7.5px 4px royalblue;  
}

fieldset {
    background-color: rgba(0, 0, 0, 0.85);
    font-family: "Norse-Bold";
    border: 1px solid rgba(0, 255, 255, 0.35);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

legend{
    font-size: 1.35rem;
    color: rgba(0, 255, 255, 0.65);
}

input,
select,
textarea {
    min-width: 295px; 
    width: calc(50% - 15px);
    text-align: left;
    font-weight: bold;
    background-color: transparent;
    background-image: radial-gradient(
        rgba(65, 105, 225, 0.05),
        rgba(65, 105, 225, 0.24)
    );
    border-radius: 3px;
    margin: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
}

/* Style the form button */
button {
    font-weight: bold;
    padding: 8px 20px;
    margin-left: 15px;
    border: double 2px rgb(47, 217, 255);
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    background-image: linear-gradient(
        -10deg,
        rgba(0, 255, 255, 0.2),
        rgba(0, 255, 255, 0.3),
        rgba(0, 255, 255, 0.35),
        rgba(0, 255, 255, 0.3),
        rgba(0, 255, 255, 0.2)
    ); 
    color: rgb(47, 217, 255);
}

button:hover{
    border: double 2px rgb(61, 255, 47);
    background-image: linear-gradient(
        10deg,
        rgba(0, 255, 255, 0.2),
        rgba(0, 255, 255, 0.3),
        rgba(0, 255, 255, 0.35),
        rgba(0, 255, 255, 0.3),
        rgba(0, 255, 255, 0.2)
    ); 
    color: rgb(61, 255, 47);
}

/* ---------------Style the footer--------------- */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    
}